@model Aluno

@{
    ViewData["Title"] = "Edição de cadastro de aluno";
}
<div class="text-center">
    <h2>Edição de Cadastro</h2>
</div>

@if (ViewBag.Mensagem != null)
{
    <p class="alert alert-success mt-4 mb-4">@ViewBag.Mensagem</p>
}

<form method="post" asp-controller="Aluno" asp-action="Editar" class="container mt-4">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input asp-for="Nome" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Idade</label>
        <input asp-for="Idade" type="number" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Email" type="email" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Plano</label>
        <select asp-for="Plano" class="form-select">
            <option value="Básico">Básico</option>
            <option value="Intermediário">Intermediário</option>
            <option value="Avançado">Avançado</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Editar</button>
</form>

